<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mukuru</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <div class="container">
        <nav>
            <a href="about">About</a>
            <a href="signUp.html">Sign Up</a>
            <a href="login.html">Log In</a>
        </nav>
    </div>
</header>
<main>
    <section id="home">
        <h1>Welcome Mukuru Pay-out-Patners</h1>
        <p>Fast and Affordable Money Transfers.</p>
    </section>
</main>
</body>
</html>
