<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mukuru</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <nav class="header">
        <ul class="nav">
            <h2>Welcome to Mukuru</h2>
            <li></li><a href="about">About</a></li>
            <li></li><a href="signUp.html">Sign Up</a></li>
            <li></li><a href="login.html">Log In</a></li>
        </ul>
    </nav>
    <!-- <div class="header">
        <h2 class="logo">freeCodeCamp</h2>

        <ul class="navi">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Serices</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div> -->
    <!-- <main>
        <section id="home">
            <h1>Welcome Mukuru Pay-out-Patners</h1>
            <p>Fast and Affordable Money Transfers.</p>
        </section>
    </main> -->
</body>
</html>
