<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Homepage</title>
</head>
<body>

    <div class="main-bar">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <div class="logo"><a href="index.html">Mukuru</a></div>
            <ul>
                <li class=""active>
                    <a href="index.html">Home</a>                
                </li>
                <li><a href="signUp.html">Sign Up</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="Contact Us.html">Contact Us</a></li>
            </ul>
        </nav>
    </div> 
    <div class="image">
        <img src="../template/Mukuru-Payfast-1080x720.jpg">
    </div>


</body>
</html>

